<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博学谷-分类</title>
    <link rel="stylesheet" href="./lib/normalize.css">
    <link rel="stylesheet" href="./css/category.css">

</head>

<body>
    <!-- 顶部logo -->
    <div class="logo-content">
        <div class="logo"><a href="./index.html"><img src="./images/logo.png" alt=""></a></div>
        <div class="logo-hd">
            <h2>课程分类</h2>
        </div>
    </div>

    <!-- 分类模块 -->
    <div class="cate-content">
        <div class="cate-left">
            <ul>
                <li class="current">前端</li>
                <li>微信小程序</li>
                <li>Vue.js</li>
                <li>移动web</li>
                <li>bootstrap</li>
                <li>Node.js</li>
            </ul>
        </div>
        <div class="cate-right">
            <div class="label-item show">
                <div class="job-con">
                    <div class="item-hd">就业班</div>
                    <div class="job-bd">
                        <img src="./images/web_fe.png" alt="">
                        <p>web前端在线就业班</p>
                    </div>
                </div>
                <div class="promote-con">
                    <div class="item-hd">提高课</div>
                    <div class="promote-bd">
                        <ul>
                            <li><a href="#">前端</a></li>
                            <li><a href="#">微信小程序</a></li>
                            <li><a href="#">深入探索js</a></li>
                            <li><a href="#">node.js</a></li>
                            <li><a href="#">bootstrap</a></li>
                            <li><a href="#">移动web开发</a></li>
                            <li><a href="#">Vue.js</a></li>
                            <li><a href="#">Node.js</a></li>
                            <li><a href="#">前端</a></li>
                            <li><a href="#">微信小程序</a></li>
                            <li><a href="#">深入探索js</a></li>
                            <li><a href="#">node.js</a></li>
                            <li><a href="#">bootstrap</a></li>
                            <li><a href="#">移动web开发</a></li>
                            <li><a href="#">Vue.js</a></li>
                            <li><a href="#">Node.js</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="label-item">微信小程序</div>
            <div class="label-item">Vue.js</div>
            <div class="label-item">移动web</div>
            <div class="label-item">bootstrap</div>
            <div class="label-item">Node.js</div>
        </div>
    </div>
    
    <!-- 底部占位 -->
    <div class="space"></div>
    <!-- 底部Tab栏 -->
    <div class="bottom-tab">
        <a class="tab-item" href="./index.html">
            <div class="tab-item-ico home-ico"></div>
            <div class="tab-item-label">首页</div>
        </a>
        <a class="tab-item" href="./category.html">
            <div class="tab-item-ico category-ico"></div>
            <div class="tab-item-label">分类</div>
        </a>
    </div>
    <!-- 导入js文件 -->
    <script src="./lib/jquery.js"></script>
    <script src="./lib/template-web.js"></script>
    <script src="./js/category.js"></script>
</body>

</html>